metaanalysis/XML_EBI/XML_Files/
metaanalysis/mp4.simulation/*.txt
metaanalysis/mp4.simulation/*.stdout


# macOS Specific Ignores
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
*.DS_Store